.header {
  font-size: 0.75rem;
  font-weight: bold;
}
.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.arrowDown {
  width: 5.6rem;
  display: inline-block;
  margin-top: 0.3rem;
}
.logoPc {
  width: 6rem;
  margin-left: -0.6rem;
  margin-right: 1.25rem;
}

#button {
  padding: $padding_button;
  border: 2px solid #fff;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.downloadDesc {
  height: 85vh;
  background-color: #000;
  padding-top: 240px;

  button {
    border: 2px solid #fff;
    margin-right: 10px;
  }
}
.emailAle {
  text-decoration: none;
  color: $link_hover;

  &:hover {
    color: $copy_color;
  }
}
