.container00 {
  &.container08 {
    background-image: url("../../images/humanFlight/01.jpg");
  }
  &.container10 {
    background-image: url("../../images/humanFlight/02.jpg");
  }
  &.container11 {
    background-image: url("../../images/humanFlight/03.jpg");
  }
  &.container12 {
    background-image: url("../../images/humanFlight/04.jpg");
  }
  &.container13 {
    background-image: url("../../images/humanFlight/05.jpg");
  }
}

.titleContent {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .titleHumam {
    font-size: 120px;
  }
  .subtitleHumam {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 300;
  }
}

.earthDesc {
  height: 25vh;

  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  .humamDesc {
    width: 800px;
    color: $table_item;
    font-size: 20px;
    font-weight: 400;
  }
}

.containerRightContent {
  margin-left: 55%;
  padding-top: 15%;
}

.titleSection {
  font-size: 60px;
  font-weight: bold;
}
.subtitle {
  margin-bottom: 40px;
  font-weight: 300;
}

.containerLeftContent {
  margin-left: 5%;
  padding-top: 15%;
}

@media (max-width: 768px) {
  .titleContent {
    .titleHumam {
      font-size: 90px;
    }
    img {
      width: 150px;
    }
  }
  .containerRightContent {
    margin-left: 15%;
  }
  .containerLeftContent {
    margin-left: 15%;
  }
  .earthDesc {
    .humamDesc {
      width: auto;
      color: $table_item;
      font-size: 18px;
      font-weight: 400;
      padding: 20px;
    }
  }
}
@media (max-width: 610px) {
  .titleContent {
    .titleHumam {
      font-size: 60px;
    }
    .subtitleHumam {
      font-size: 24px;
    }
  }
  .containerRightContent {
    margin-left: 5%;
  }
  .containerLeftContent {
    margin-left: 5%;
  }
  .titleSection {
    font-size: 50px;
  }
}
@media (max-width: 380px) {
  .titleContent {
    .titleHumam {
      font-size: 45px;
    }
    .subtitleHumam {
      font-size: 18px;
    }
    img {
      width: 100px;
    }
  }
}
